<!DOCTYPE html>
<html lang="en" x-data="{ darkMode: false, open: false, imageSrc: '' }" x-init="darkMode = JSON.parse(localStorage.getItem('darkMode')) || false"
  x-bind:class="{ 'dark': darkMode }">

  <%-include("./partials/header")-%>
  <body :class="[darkMode ? 'dark:bg-gray-900 dark:text-white' : 'bg-gray-200']">
    <div class="m-4 p-4 flex flex-row gap-2">
        <div class="flex flex-col gap-2">
            <h1 class="text-4xl dark:text-white text-gray-600" data-aos="zoom-in-right" data-aos-duration="1500">Contact Me</h1>
            <div class="flex flex-col gap-1">
                <div data-aos="fade-up" data-aos-duration="1500">
                    <h1 class="text-xl lg:text-2xl text-gray-600 dark:text-white">Nomor :</h1>
                    <div class="border-l-4 border-gray-700 dark:border-gray-800 pl-4">
                        <p class="text-lg lg:text-xl text-gray-600 dark:text-white">+62 895-0250-2731</p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="1500">
                    <h1 class="text-xl lg:text-2xl text-gray-600 dark:text-white">Email :</h1>
                    <div class="border-l-4 border-gray-700 dark:border-gray-800 pl-4">
                        <p class="text-lg lg:text-xl text-gray-600 dark:text-white">yankurniawan60@gmail.com</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="m-4 p-4">
        <h1 class="text-4xl dark:text-white text-gray-600" data-aos="zoom-in-right" data-aos-duration="1500">SKILL</h1>
    </div>
    <div class=" m-4 p-4 gap-2 flex">
        <div class="gap-4 grid grid-cols-3">
            <a href="https://php.net" data-aos="fade-right" data-aos-duration="1500">
                <img src="/image/gambar/php.webp" alt="PHP" class="w-20 h-10 lg:w-20 lg:h-12  hover:scale-125 transition-transform duration-300 ease-in-out hover:cursor-pointer rounded-lg border dark:border-none" />
            </a>
            <a href="https://laravel.com" data-aos="fade-up" data-aos-duration="1500">
                <img src="/image/gambar/Laravel.webp" alt="Laravel" class="w-20 h-10 lg:w-20 lg:h-12  hover:scale-125 transition-transform duration-300 ease-in-out hover:cursor-pointer rounded-lg border dark:border-none" />
            </a>
            <a href="https://tailwindcss.com" data-aos="fade-left" data-aos-duration="1500">
                <img src="/image/gambar/tailwind.webp" alt="TailwindCSS" class="w-20 h-10 lg:w-20 lg:h-12  hover:scale-125 transition-transform duration-300 ease-in-out hover:cursor-pointer rounded-lg border dark:border-none" />
            </a>
            <a href="https://nodejs.org" data-aos="fade-right" data-aos-duration="1500">
                <img src="/image/gambar/node.webp" alt="NodeJS" class="w-20 h-10 lg:w-20 lg:h-12  hover:scale-125 transition-transform duration-300 ease-in-out hover:cursor-pointer rounded-lg border dark:border-none" />
            </a>
            <a data-aos="fade-up" data-aos-duration="1500">
                <img src="/image/gambar/js.webp" alt="JavaScript" class="w-20 h-10 lg:w-20 lg:h-12  hover:scale-125 transition-transform duration-300 ease-in-out hover:cursor-pointer rounded-lg border dark:border-none" />
            </a>
        </div>
    </div>
    <div class="flex flex-col m-4 p-4">
        <h1 class="text-4xl dark:text-white text-gray-600">PROGRESS</h1>
        <div class="flex flex-col">
            <h1>PHP</h1>
            <div class="flex flex-row gap-2">
                <div class="w-56 bg-gray-200 rounded-full h-4 flex flex-row">
                    <div class="bg-blue-600 h-4 rounded-full" style="width: 75%;"></div>
                </div>
                <p >75%</pc>
            </div>
        </div>
        <div class="flex flex-col">
            <h1>Laravel</h1>
            <div class="flex flex-row gap-2">
                <div class="w-56 bg-gray-200 rounded-full h-4 flex flex-row">
                    <div class="bg-blue-600 h-4 rounded-full" style="width: 80%;"></div>
                </div>
                <p >80%</pc>
            </div>
        </div>
        <div class="flex flex-col">
            <h1>TailwindCSS</h1>
            <div class="flex flex-row gap-2">
                <div class="w-56 bg-gray-200 rounded-full h-4 flex flex-row">
                    <div class="bg-blue-600 h-4 rounded-full" style="width: 45%;"></div>
                </div>
                <p >45%</pc>
            </div>
        </div>
        <div class="flex flex-col">
            <h1>NodeJS</h1>
            <div class="flex flex-row gap-2">
                <div class="w-56 bg-gray-200 rounded-full h-4 flex flex-row">
                    <div class="bg-blue-600 h-4 rounded-full" style="width: 45%;"></div>
                </div>
                <p >45%</pc>
            </div>
        </div>
        <div class="flex flex-col">
            <h1>JavaScript</h1>
            <div class="flex flex-row gap-2">
                <div class="w-56 bg-gray-200 rounded-full h-4 flex flex-row">
                    <div class="bg-blue-600 h-4 rounded-full" style="width: 50%;"></div>
                </div>
                <p >50%</pc>
            </div>
        </div>
    </div>
    <div class="m-4 p-4">
        <h1 class="text-4xl dark:text-white text-gray-600" data-aos="zoom-in-right" data-aos-duration="1500">Sertifikat</h1>
    </div>
    <div class="flex m-4 p-4">
        <div class="grid grid-cols-4 gap-4">
          <!-- Sertifikat Images -->
          <img data-aos="fade-right" data-aos-duration="1500" 
               src="/image/sertifikat/baznas.webp" 
               alt="Badan Amil Zakat Nasional" 
               class="w-80 mb-2 hover:cursor-pointer rounded-lg border dark:border-none" 
               @click="open = true; imageSrc = '/image/sertifikat/baznas.webp'">
          <img data-aos="fade-right" data-aos-duration="1500" 
               src="/image/sertifikat/serti1.webp" 
               alt="Sertifikat 1" 
               class="w-80 mb-2 hover:cursor-pointer rounded-lg border dark:border-none" 
               @click="open = true; imageSrc = '/image/sertifikat/serti1.webp'">
          <img data-aos="fade-right" data-aos-duration="1500" 
               src="/image/sertifikat/serti2.webp" 
               alt="Sertifikat 2" 
               class="w-80 mb-2 hover:cursor-pointer rounded-lg border dark:border-none" 
               @click="open = true; imageSrc = '/image/sertifikat/serti2.webp'">        
          <!-- Modal -->
          <div x-show="open" 
               x-transition
               class="fixed inset-0 flex items-center justify-center z-50 bg-black backdrop-blur">
               <div class="relative w-1/2 bg-white rounded-lg shadow-lg p-4">
                <button @click="open = false" class="absolute top-2 right-2 text-black text-2xl font-bold">
                    &times;
                </button>
                <!-- Full Image -->
                <img :src="imageSrc" 
                   alt="Sertifikat" 
                   class="w-full h-auto rounded-lg">
                </div>
          </div>
        </div>
    </div>

    <div class="m-4 p-4 flex flex-col">
        <h1 class="text-4xl dark:text-white text-gray-600" data-aos="zoom-in-right" data-aos-duration="1500">Projects</h1>
        <span class="text-2xl dark:text-white text-gray-600" data-aos="zoom-in-right" data-aos-duration="1500">Project ini ada digithub</span>
    </div>
    <div class="flex m-4 p-4">
        <div class="grid grid-cols-4 gap-4">
          <!-- Sertifikat Images -->
          <img data-aos="fade-right" data-aos-duration="1500" 
               src="/image/project/kai.webp" 
               alt="KAI Tugas Sekolah Web" 
               class="w-80 mb-2 hover:cursor-pointer rounded-lg border dark:border-none" 
               @click="open = true; imageSrc = '/image/project/kai.webp'">
          <img data-aos="fade-right" data-aos-duration="1500" 
               src="/image/project/karyawan_dashboard.webp" 
               alt="Karyawan"
               class="w-80 mb-2 hover:cursor-pointer rounded-lg border dark:border-none" 
               @click="open = true; imageSrc = '/image/project/karyawan_dashboard.webp'">
          <img data-aos="fade-right" data-aos-duration="1500" 
               src="/image/project/lagu.webp" 
               alt="Lagu"
               class="w-80 mb-2 hover:cursor-pointer rounded-lg border dark:border-none" 
               @click="open = true; imageSrc = '/image/project/lagu.webp'">
          <img data-aos="fade-right" data-aos-duration="1500" 
               src="/image/project/perpus_dashboard.webp" 
               alt="Perpustakaan"
               class="w-80 mb-2 hover:cursor-pointer rounded-lg border dark:border-none" 
               @click="open = true; imageSrc = '/image/project/perpus_dashboard.webp'">
          <img data-aos="fade-right" data-aos-duration="1500" 
               src="/image/project/MySocial.webp" 
               alt="MySocial"
               class="w-80 mb-2 hover:cursor-pointer rounded-lg border dark:border-none" 
               @click="open = true; imageSrc = '/image/project/MySocial.webp'">
          <img data-aos="fade-right" data-aos-duration="1500" 
               src="/image/project/threetaste.webp" 
               alt="ThreeTaste"
               class="w-80 mb-2 hover:cursor-pointer rounded-lg border dark:border-none" 
               @click="open = true; imageSrc = '/image/project/threetaste.webp'">
          <div x-show="open" 
               x-transition
               class="fixed inset-0 flex items-center justify-center z-50 bg-black backdrop-blur">
               <div class="relative w-1/2 bg-white rounded-lg shadow-lg p-4">
                <button @click="open = false" class="absolute top-2 right-2 text-black text-2xl font-bold">
                    &times;
                </button>
                <!-- Full Image -->
                <img :src="imageSrc" 
                   alt="Sertifikat" 
                   class="w-full h-auto rounded-lg">
                </div>
          </div>
        </div>
    </div>
    <footer class="h-24"></footer>
    <%-include("./partials/bottom-nav")-%>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>