<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fian Kurnaiwan - Portfolio</title>
  <link rel="stylesheet" href="/css/output.css">
  <link href="/css/style.css" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
</head>

<body5>
  <!-- Header Start -->
  <header class="absolute top-0 left-0 z-10 flex w-full items-center bg-transparent font-poppins">
    <div class="container">
      <div class="relative flex items-center justify-between">
        <div class="px-4">
          <a href="#home" class="block py-6 text-lg font-bold text-blue-300">Fian Kurniawan</a>
        </div>
        <div class="flex items-center px-4">
          <button id="hamburger" name="hamburger" type="button" class="absolute right-4 block lg:hidden">
            <span class="hamburger-line origin-top-left transition duration-300 ease-in-out"></span>
            <span class="hamburger-line transition duration-300 ease-in-out"></span>
            <span class="hamburger-line origin-bottom-left transition duration-300 ease-in-out"></span>
          </button>

          <nav id="nav-menu"
            class="absolute right-4 top-full hidden w-full max-w-[250px] rounded-lg bg-white py-5 shadow-lg dark:bg-dark dark:shadow-slate-500 lg:static lg:block lg:max-w-full lg:rounded-none lg:bg-transparent lg:shadow-none lg:dark:bg-transparent">
            <ul class="block lg:flex">
              <li class="group">
                <a href="#home"
                  class="mx-8 flex py-2 text-base hover:text-blue-300 hover:animate-pulse text-dark">Beranda</a>
              </li>
              <li class="group">
                <a href="#about"
                  class="mx-8 flex py-2 text-base hover:text-blue-300 hover:animate-pulse text-dark">Tentang Saya</a>
              </li>
              <li class="group">
                <a href="#project"
                  class="mx-8 flex py-2 text-base hover:text-blue-300 hover:animate-pulse text-dark">Project Saya</a>
              </li>
              <li class="group">
                <button onclick="window.location.href = '/pdf/fian.pdf'" href="#"
                  class="mx-8 flex text-base hover:text-black hover:animate-pulse text-white rounded-md shadow-md px-2 py-2 bg-blue-300">Download
                  CV</button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- Header End -->

  <!-- Hero Section Start -->
  <section id="home" class="pt-36 dark:bg-dark font-jetbrains">
    <div class="container">
      <div class="flex flex-wrap">
        <div class="w-full self-center px-4 lg:w-1/2">
          <span class="lg:text-5xl mt-1 text-4xl font-bold text-dark " id="fian"></span>
          <h2 class="text-lg font-medium text-secondary lg:text-2xl">Freelance</h2>
          <p class="mb-5 font-medium leading-relaxed text-dark">Jangan takut untuk mencoba sesuatu jika gagal, kamu
            harus <span class="font-poetsen">bangkit!</span> dan <span class="font-poetsen">yakin!</span> dengan
            kemampuanmu, apapun itu akan berhasil jika <span class="font-poetsen">berusaha.</span></p>
          <a href="#"
            class="rounded-full bg-blue-300 py-3 px-8 text-base font-semibold text-white transition duration-300 ease-in-out hover:opacity-80 hover:shadow-lg">Hubungi
            Saya</a>
        </div>
        <div class="w-full self-end px-4 lg:w-1/2">
          <div class="relative mt-10 lg:right-0 lg:mt-9">
            <img src="/image/gambar/fian.png" alt="Fian Kurniawan" class="z-10 mx-auto max-w-full" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Section End -->

  <!-- About Section Start -->
  <section id="about" class="pt-36 pb-32 dark:bg-dark">
    <div class="flex justify-center items-center mb-4">
      <h4 class="mb-3 text-5xl font-bold uppercase text-blue-300">Tentang Saya</h4>
    </div>
    <div class="container">
      <div class="flex flex-wrap">
        <div class="w-full px-4 lg:w-1/2">
          <h3 class="mb-4 text-2xl font-semibold text-dark dark:text-white lg:pt-10 lg:text-3xl">Riwayat Pendidikan</h3>
          <p class="flex flex-col mb-6 text-base font-medium text-secondary lg:text-lg">
            <span class="font-bold font-jetbrains">SMK NEGERI 65 Jakarta</span>
            Rekayasa Perangkat Lunak
          </p>
        </div>
        <div class="w-full px-4 lg:w-1/2">
          <h3 class="mb-4 text-2xl font-semibold text-dark dark:text-white lg:pt-10 lg:text-3xl">Sering Digunakan</h3>
          <p class="mb-6 text-base font-medium text-secondary lg:text-lg">
            Saya biasanya menggunakan PHP sebagai bahasa pemrograman saya, dengan framework Laravel saya membuat sebuah
            website. dan Tailwind CSS untuk mendesign websitenya
          </p>
          <div class="flex items-center">
            <a href="https://www.php.net/" target="_blank"
              class="mr-3 flex h-9 w-9 items-center justify-center rounded-full border border-slate-300 text-slate-300 hover:border-blue-300 hover:bg-blue-300 hover:text-white">
              <svg role="img" width="20" class="fill-current" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
                fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <title>PHP</title>
                  <path
                    d="M7.6,13.791a2.352,2.352,0,0,1,1.745.483,1.916,1.916,0,0,1,.207,1.66,2.78,2.78,0,0,1-.918,1.748,3.375,3.375,0,0,1-2.07.529h-1.4L6.024,13.8ZM2,22.677H4.3l.545-2.8H6.812A7.049,7.049,0,0,0,8.956,19.6a4.06,4.06,0,0,0,1.53-.918A4.585,4.585,0,0,0,11.93,16.1a3.288,3.288,0,0,0-.55-2.922A3.671,3.671,0,0,0,8.47,12.129H4.057Z"
                    style="fill:#8993be"></path>
                  <path
                    d="M13.617,9.323H15.9l-.553,2.8h2.031a3.956,3.956,0,0,1,2.645.669,2.213,2.213,0,0,1,.436,2.167l-.954,4.909H17.195l.908-4.667a1.267,1.267,0,0,0-.114-1.086,1.6,1.6,0,0,0-1.144-.286H15.022l-1.175,6.044H11.559Z"
                    style="fill:#8993be"></path>
                  <path
                    d="M25.539,13.791a2.352,2.352,0,0,1,1.745.483,1.916,1.916,0,0,1,.207,1.66,2.78,2.78,0,0,1-.918,1.748,3.375,3.375,0,0,1-2.074.529H23.1l.858-4.416Zm-5.6,8.886h2.3l.545-2.8h1.968A7.049,7.049,0,0,0,26.9,19.6a4.06,4.06,0,0,0,1.53-.918A4.585,4.585,0,0,0,29.869,16.1a3.288,3.288,0,0,0-.55-2.922,3.671,3.671,0,0,0-2.909-1.046h-4.42Z"
                    style="fill:#8993be"></path>
                </g>
              </svg>
            </a>
            <div class="flex items-center">
              <a href="https://laravel.com/" target="_blank"
                class="mr-3 flex h-9 w-9 items-center justify-center rounded-full border border-slate-300 text-slate-300 hover:border-blue-300 hover:bg-blue-300 hover:text-white">
                <svg role="img" width="20" class="fill-current" viewBox="0 0 64 64" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <title>Laravel</title>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M47.982 23.453c.012.044.018.089.018.134v7.071a.516.516 0 0 1-.26.448l-5.934 3.417v6.772a.517.517 0 0 1-.258.447L29.16 48.874c-.029.016-.06.026-.09.037-.012.004-.023.011-.035.015a.519.519 0 0 1-.264 0c-.015-.004-.027-.012-.041-.017-.028-.01-.058-.02-.085-.035l-12.386-7.132a.517.517 0 0 1-.259-.447V20.082c0-.046.006-.091.018-.135.004-.015.013-.028.018-.043.01-.027.019-.055.033-.08.01-.017.024-.03.035-.046.015-.02.029-.042.046-.06.015-.015.034-.026.051-.039.019-.015.035-.032.057-.044l6.194-3.566a.517.517 0 0 1 .515 0l6.194 3.566c.021.013.039.029.057.044.017.013.036.024.05.038.019.02.032.04.047.061.011.016.026.029.035.046.015.025.023.053.034.08.005.015.014.028.017.044a.52.52 0 0 1 .019.134v13.25l5.16-2.972v-6.773a.52.52 0 0 1 .019-.134c.004-.016.012-.03.018-.044.01-.027.019-.055.033-.08.01-.017.024-.03.035-.046.015-.02.028-.042.046-.06.015-.015.034-.025.05-.038.02-.016.037-.033.057-.045l6.195-3.566a.516.516 0 0 1 .515 0l6.194 3.566c.022.013.038.03.058.044.016.013.034.024.05.039.017.018.03.04.046.06.011.016.025.03.034.046.015.025.024.053.034.08.006.015.014.028.018.044zm-1.014 6.907v-5.88L44.8 25.728l-2.994 1.724v5.88l5.162-2.972zm-6.194 10.637v-5.884l-2.945 1.682-8.41 4.8v5.94l11.355-6.538zM17.032 20.975v20.022l11.355 6.537v-5.938l-5.932-3.357-.002-.002-.003-.001c-.02-.012-.036-.028-.055-.043-.016-.012-.035-.023-.049-.037l-.001-.002c-.017-.016-.029-.036-.043-.054-.013-.017-.028-.032-.038-.05l-.001-.002c-.012-.02-.019-.043-.027-.065-.009-.019-.02-.037-.025-.058-.006-.025-.007-.05-.01-.076-.003-.02-.008-.038-.008-.058V23.946L19.2 22.222l-2.168-1.247zm5.678-3.863-5.16 2.97 5.159 2.97 5.16-2.97-5.16-2.97h.001zm2.684 18.537 2.993-1.723V20.975l-2.167 1.247-2.994 1.724v12.951l2.168-1.248zM41.29 20.617l-5.16 2.97 5.16 2.97 5.158-2.97-5.158-2.97zm-.517 6.835-2.994-1.724-2.167-1.248v5.88l2.993 1.723 2.168 1.249v-5.88zm-11.872 13.25 7.568-4.32 3.783-2.16-5.156-2.968-5.936 3.418-5.41 3.115 5.151 2.915z"
                      fill="#FF2D20"></path>
                  </g>
                </svg>
              </a>
            </div>
            <div class="flex items-center">
              <a href="https://tailwindcss.com/" target="_blank"
                class="mr-3 flex h-9 w-9 items-center justify-center rounded-full border border-slate-300 text-slate-300 hover:border-blue-300 hover:bg-blue-300 hover:text-white">
                <svg role="img" width="20" class="fill-current" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
                  fill="#000000">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <title>Tilwind CSS</title>
                    <path
                      d="M9,13.7q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q11.1,10.9,9,13.7ZM2,22.1q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q4.1,19.3,2,22.1Z"
                      style="fill:#44a8b3"></path>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Section End -->
  <!-- Portfolio Section Start -->
  <section id="project" class="bg-slate-100 pt-36 pb-16 dark:bg-slate-800">
    <div class="container">
      <div class="w-full px-4">
        <div class="mx-auto mb-16 max-w-xl text-center">
          <h1 class="mb-3 text-5xl font-bold uppercase text-blue-300">Project Saya</h1>
        </div>
      </div>

      <div class="flex w-full flex-wrap justify-center px-4 xl:mx-auto xl:w-10/12">
        <div class="mb-12 p-4 md:w-1/2">
          <div class="overflow-hidden rounded-md shadow-md">
            <img src="/image/threetaste.png" alt="Threetaste" width="w-full" />
          </div>
          <h3 class="mt-5 mb-3 text-xl font-semibold text-dark dark:text-white">Threetaste Website</h3>
          <p class="text-base font-medium text-secondary">Project sekolah untuk membuat usaha dan membuat website dari
            usaha tersebut. <a class="underline font-poppins font-medium" href="javascript:void(0)"
              onclick="threetaste()">Lihat website</a></p>
        </div>
        <div class="mb-12 p-4 md:w-1/2">
          <div class="overflow-hidden rounded-md shadow-md">
            <img src="/image/kai.png" alt="E-Commerce" width="w-full" />
          </div>
          <h3 class="mt-5 mb-3 text-xl font-semibold text-dark dark:text-white">Slebew Tiket KAI</h3>
          <p class="text-base font-medium text-secondary">Tugas Sekolah membuat website pemesanan tiket. menggunakan PHP
            Native untuk database user.</p>
        </div>
        <div class="mb-12 p-4 md:w-1/2">
          <div class="overflow-hidden rounded-md shadow-md">
            <img src="/image/lagu.png" alt="Technical Documentation" width="w-full" />
          </div>
          <h3 class="mt-5 mb-3 text-xl font-semibold text-dark dark:text-white">Slebew Playlist</h3>
          <p class="text-base font-medium text-secondary">Tugas sekolah membuat website Lagu / Musik untuk dimainkan.
          </p>
        </div>
        <div class="mb-12 p-4 md:w-1/2">
          <div class="overflow-hidden rounded-md shadow-md">
            <img src="/image/perpus_dashboard.png" alt="Tribute Page" width="w-full" />
          </div>
          <h3 class="mt-5 mb-3 text-xl font-semibold text-dark dark:text-white">Library</h3>
          <p class="text-base font-medium text-secondary">Project atau Ulangan Kompetensi untuk mendapatkan Sertifikat
            Kompetensi.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio Section End -->=

  <!-- Contact Section Start -->
  <section id="contact" class="pt-36 pb-32 dark:bg-slate-800">
    <div class="container">
      <div class="w-full px-4">
        <div class="mx-auto mb-16 max-w-xl text-center">
          <h1 class="mb-3 text-5xl font-bold uppercase text-blue-300">Hubungi Saya</h1>
        </div>
      </div>

      <form action="/test" method="POST">
        <div class="w-full lg:mx-auto lg:w-2/3">
          <div class="mb-8 w-full px-4">
            <label for="subject" class="text-base font-bold text-blue-300">Subject / Title</label>
            <input type="text" id="subject" name="subject"
              class="w-full rounded-md bg-slate-200 p-3 text-dark focus:border-blue-300 focus:outline-none focus:ring-1 focus:ring-blue-300" />
          </div>
          <div class="mb-8 w-full px-4">
            <label for="from" class="text-base font-bold text-blue-300">From</label>
            <input type="email" id="from" name="from"
              class="w-full rounded-md bg-slate-200 p-3 text-dark focus:border-blue-300 focus:outline-none focus:ring-1 focus:ring-blue-300" />
          </div>
          <div class="mb-8 w-full px-4">
            <label for="text" class="text-base font-bold text-blue-300">Pesan</label>
            <textarea id="text" name="text"
              class="h-32 w-full rounded-md bg-slate-200 p-3 text-dark focus:border-blue-300 focus:outline-none focus:ring-1 focus:ring-blue-300"></textarea>
          </div>
          <div class="w-full px-4">
            <button
              class="w-full rounded-full bg-blue-300 py-3 px-8 text-base font-semibold text-white transition duration-500 hover:opacity-80 hover:shadow-lg">Kirim
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- Contact Section End -->

  <!-- Footer Start -->
  <footer class="bg-dark pt-12 pb-4">
    <div class="mb-5 flex items-center justify-center">
      <!-- Youtube -->
      <a href="https://youtube.com/@itsrealnise6557" target="_blank"
        class="mr-3 flex h-9 w-9 items-center justify-center rounded-full border border-slate-300 text-slate-300 hover:border-blue-300 hover:bg-blue-300 hover:text-white">
        <svg role="img" width="20" class="fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <title>YouTube</title>
          <path
            d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z" />
        </svg>
      </a>

      <!-- Instagram -->
      <a href="https://instagram.com/fiank324" target="_blank"
        class="mr-3 flex h-9 w-9 items-center justify-center rounded-full border border-slate-300 text-slate-300 hover:border-blue-300 hover:bg-blue-300 hover:text-white">
        <svg role="img" width="20" class="fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <title>Instagram</title>
          <path
            d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z" />
        </svg>
      </a>

      <!-- Github -->
      <a href="https://github.com/ItsRealNise" target="_blank"
        class="mr-3 flex h-9 w-9 items-center justify-center rounded-full border border-slate-300 text-slate-300 hover:border-blue-300 hover:bg-blue-300 hover:text-white">
        <svg role="img" width="20" class="fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M4.0744 2.9938C4.13263 1.96371 4.37869 1.51577 5.08432 1.15606C5.84357 0.768899 7.04106 0.949072 8.45014 1.66261C9.05706 1.97009 9.11886 1.97635 10.1825 1.83998C11.5963 1.65865 13.4164 1.65929 14.7213 1.84164C15.7081 1.97954 15.7729 1.97265 16.3813 1.66453C18.3814 0.651679 19.9605 0.71795 20.5323 1.8387C20.8177 2.39812 20.8707 3.84971 20.6494 5.04695C20.5267 5.71069 20.5397 5.79356 20.8353 6.22912C22.915 9.29385 21.4165 14.2616 17.8528 16.1155C17.5801 16.2574 17.3503 16.3452 17.163 16.4167C16.5879 16.6363 16.4133 16.703 16.6247 17.7138C16.7265 18.2 16.8491 19.4088 16.8973 20.4002C16.9844 22.1922 16.9831 22.2047 16.6688 22.5703C16.241 23.0676 15.6244 23.076 15.2066 22.5902C14.9341 22.2734 14.9075 22.1238 14.9075 20.9015C14.9075 19.0952 14.7095 17.8946 14.2417 16.8658C13.6854 15.6415 14.0978 15.185 15.37 14.9114C17.1383 14.531 18.5194 13.4397 19.2892 11.8146C20.0211 10.2698 20.1314 8.13501 18.8082 6.83668C18.4319 6.3895 18.4057 5.98446 18.6744 4.76309C18.7748 4.3066 18.859 3.71768 18.8615 3.45425C18.8653 3.03823 18.8274 2.97541 18.5719 2.97541C18.4102 2.97541 17.7924 3.21062 17.1992 3.49805L16.2524 3.95695C16.1663 3.99866 16.07 4.0147 15.975 4.0038C13.5675 3.72746 11.2799 3.72319 8.86062 4.00488C8.76526 4.01598 8.66853 3.99994 8.58215 3.95802L7.63585 3.49882C7.04259 3.21087 6.42482 2.97541 6.26317 2.97541C5.88941 2.97541 5.88379 3.25135 6.22447 4.89078C6.43258 5.89203 6.57262 6.11513 5.97101 6.91572C5.06925 8.11576 4.844 9.60592 5.32757 11.1716C5.93704 13.1446 7.4295 14.4775 9.52773 14.9222C10.7926 15.1903 11.1232 15.5401 10.6402 16.9905C10.26 18.1319 10.0196 18.4261 9.46707 18.4261C8.72365 18.4261 8.25796 17.7821 8.51424 17.1082C8.62712 16.8112 8.59354 16.7795 7.89711 16.5255C5.77117 15.7504 4.14514 14.0131 3.40172 11.7223C2.82711 9.95184 3.07994 7.64739 4.00175 6.25453C4.31561 5.78028 4.32047 5.74006 4.174 4.83217C4.09113 4.31822 4.04631 3.49103 4.0744 2.9938Z"
              fill="#ffff"></path>
            <path
              d="M3.33203 15.9454C3.02568 15.4859 2.40481 15.3617 1.94528 15.6681C1.48576 15.9744 1.36158 16.5953 1.66793 17.0548C1.8941 17.3941 2.16467 17.6728 2.39444 17.9025C2.4368 17.9449 2.47796 17.9858 2.51815 18.0257C2.71062 18.2169 2.88056 18.3857 3.05124 18.5861C3.42875 19.0292 3.80536 19.626 4.0194 20.6962C4.11474 21.1729 4.45739 21.4297 4.64725 21.5419C4.85315 21.6635 5.07812 21.7352 5.26325 21.7819C5.64196 21.8774 6.10169 21.927 6.53799 21.9559C7.01695 21.9877 7.53592 21.998 7.99999 22.0008C8.00033 22.5527 8.44791 23.0001 8.99998 23.0001C9.55227 23.0001 9.99998 22.5524 9.99998 22.0001V21.0001C9.99998 20.4478 9.55227 20.0001 8.99998 20.0001C8.90571 20.0001 8.80372 20.0004 8.69569 20.0008C8.10883 20.0026 7.34388 20.0049 6.67018 19.9603C6.34531 19.9388 6.07825 19.9083 5.88241 19.871C5.58083 18.6871 5.09362 17.8994 4.57373 17.2891C4.34391 17.0194 4.10593 16.7834 3.91236 16.5914C3.87612 16.5555 3.84144 16.5211 3.80865 16.4883C3.5853 16.265 3.4392 16.1062 3.33203 15.9454Z"
              fill="#ffff"></path>
          </g>
        </svg>
      </a>
    </div>
    <p class="text-center text-xs font-medium text-slate-500">
      Social Media <span class="font-bold font-poppins text-blue-300">Saya</span>
    </p>
    </div>
  </footer>
  <!-- Footer End -->

  <!-- Back to top Start -->
  <a href="#home"
    class="fixed bottom-4 right-4 z-[9999] hidden h-14 w-14 items-center justify-center rounded-full bg-blue-300 p-4 hover:animate-pulse"
    id="to-top">
    <span class="mt-2 block h-5 w-5 rotate-45 border-t-2 border-l-2"></span>
  </a>
  <!-- Back to top End -->

  <script src="/js/web.js"></script>
  <script src="/js/script.js"></script>
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
  <script>
    new Typed('#fian', {
      strings: ['Fian Kurniawan'],
      typeSpeed: 200,
      backSpeed: 50,
      loop: true,
      cursorChar: '_'
    });

    function threetaste() {
      window.open('https://threetaste.vercel.app/', '_blank')
    }
  </script>
  </body>

</html>
